.table-view{
    -fx-background-color: transparent;
    -fx-background-radius: 8px 8px 0px 0px;
    -fx-background-insets: 0 0 0 0;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(to bottom right, #A3D78A, #C1E59F);
    -fx-background-radius: 8px 8px 0px 0px;
    -fx-background-insets: 0 0 0 0;
}

.table-view .column-header, .filter{
    -fx-background-color: transparent;
    -fx-size: 40px;
}

.table-view .column-header, .label{
    -fx-text-fill: black;
    -fx-font-family: "Arial";
}

.search{
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-color: linear-gradient(to bottom right,#A3D78A, #C1E59F);
    -fx-border-radius: 4px;
    -fx-font-family: "Tahoma";
}
