.white-bg{
    -fx-background-color: #FFFFFF;
}

.radius{
    -fx-background-radius: 6px;
}

.text-field{
    -fx-border-color: #A3D78A;
    -fx-border-width: .8px;
    -fx-font-weight: Tahoma;
}
.text-field:focused{
    -fx-border-color: linear-gradient(to bottom right,#A3D78A, #C1E59F);
    -fx-border-width: 1px;
}

.btn-l{
    -fx-background-color: linear-gradient(to bottom right,#6bb548, #C1E59F);
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-font-weight: 14px;
    -fx-font-family: "Arial";

}

.btn-l:hover{
    -fx-background-color: linear-gradient(to bottom right,#A3D78A, #C1E59F);
}

