.white-bg{
    -fx-background-color: #FFFFFF;
}

.border-top{
    -fx-border-color: white;
    -fx-border-width: .5px 0 .0px 0;

}

.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5,0,0,0);

}

.radius{
    -fx-background-radius: 6px;
}

.text-field{
    -fx-border-color: #A3D78A;
    -fx-border-width: .8px;
    -fx-font-weight: Tahoma;
}
.text-field:focused{
    -fx-border-color: linear-gradient(to bottom right,#A3D78A, #C1E59F);
    -fx-border-width: 1px;
}


.text-field-2{
    -fx-border-color: white;
    -fx-border-width: .3px;
    -fx-font-family: Tahoma;
}

.text-field-3:focused{
    -fx-border-color: linear-gradient(to bottom right,#A3D78A, #C1E59F);
    -fx-border-width: 1px;

}

.btn-l{
    -fx-background-color: linear-gradient(to bottom right,#6bb548, #C1E59F);
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-font-weight: 14px;
    -fx-font-family: "Arial";

}

.btn-l:hover{
    -fx-background-color: linear-gradient(to bottom right,#A3D78A, #C1E59F);
}

.table-view{
    -fx-background-color: linear-gradient(to bottom right,#A3D78A, #C1E59F);
    -fx-background-radius: 8px 8px 0px 0px;
    -fx-background-insets: 0 0 0 0;
}

.table-view .column-header, .filter{
    -fx-background-color: transparent;
    -fx-size: 40px;
}

.table-view .column-header, .label{
    -fx-text-fill: black;
    -fx-font-family: "Arial";
}

.search{
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-color: linear-gradient(to bottom right,#A3D78A, #C1E59F);
    -fx-border-radius: 4px;
    -fx-font-family: "Tahoma";
}

